* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
main {
  /* padding: 1rem; */
  height: 100%;
  width: 100%;
}
#section1 {
  height: 100%;
  width: 100%;
}
.container1 {
  height: 100%;
  width: 100%;
  position: relative;
}
.container1 img {
  height: 100%;
  width: 100%;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  object-fit: cover;
}
.navbar{
  position: absolute;
  
  top: 2rem;
  left: 2rem;
  width: calc(100% - 4rem);
 display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; 
  color: white; 
}
.names{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: absolute;
   z-index: 10;
   top: 50%;
   color: white;
   left: 25%;
}
.names :nth-child(1){
  font-size: 3rem;
  font-weight: 900;
}
.names :nth-child(2){
  font-size: 0.8rem;
}

.navbar .lo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;

}
.navbar i {
  font-size: 1.8rem;
}
.navbar2 {
  display: none;
  cursor: pointer;
}
#section2 {
  height: auto;
  width: 100vw;
  background-color: #f5f7f6;
}
.box0 {
  display: flex;
  justify-content: center;
  /* border: solid; */
  font-size: 2rem;
  font-weight: 500;
}
.box {
  height: 45rem;
  width: 20rem;
  background-color: whitesmoke;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.box1 img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.box1 {
  box-shadow: 0px 10px 20px 4px #7d7e7d;
}
.text1 {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}

.icon1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}
.icon2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}
.box2 img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.text2 {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}
.box2 {
  box-shadow: 0px 10px 20px 4px #7d7e7d;
}
.icon3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}
.box3 img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.text3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}
.box3 {
  box-shadow: 0px 10px 20px 4px #7d7e7d;
}
#section3 {
  height: auto;
  width: 100vw;
  background-color: #ffffff;
  margin-top: 2rem;
}
.container3 img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.7rem;
}
.text5 {
  text-align: center;
  font-weight: 500;
}
.text4 {
  font-size: 2rem;
  font-weight: 600;
}
.icon4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
#section4 {
  height: auto;
  width: 100vw;
  background-color: #f5f7f6;
  margin-top: 2rem;
}
.container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0rem;
  gap: 1rem;
}
.item1 {
  font-size: 2rem;
  font-weight: 700;
}
.item2 {
  font-size: 1.2rem;
  font-weight: 500;
}
.item3 input {
  padding: 0.5rem 2rem;
}
.item4 button {
  padding: 0.2rem 1rem;
}
footer {
  height: auto;
  width: 100vw;
  background-color: white;
  margin-top: 5rem;
  padding: 5rem 0rem;
}
.container5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}
.container6 {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.mc{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 64rem) {
  .navbar i {
    display: none;
  }
  .navbar2 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-weight: 600;
    width: calc(100% - 4rem);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    color: white;
    gap: 2rem;
    cursor: pointer;
  }
  .mininav3{
    border: #ffffff solid 1px;
    padding: 0.5rem 1rem;
  }
  .names{
    top: 42%;
    left: 29%;
  }
  .names :nth-child(1){
    font-size: 8rem;
    font-weight: 700;
  }
  .names :nth-child(2){
    font-size: 1.5rem;
    font-weight: 600;
  }
  .container2{
    display: flex;
    flex-direction: row;
    gap: 3rem;
  
  }
  .box0{
    font-size: 3rem;
    padding-top: 7rem;
    padding-bottom: 2rem;
  }
  .box{
    height: 25rem;
    width: 16rem;
  }
  .icon1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
  .icon2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
  .icon3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.container3{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}
.container3 img{
  width: 41rem;
  height: 41rem;
  object-fit: cover;
}
.text4{
  font-size: 3rem;
/* margin-bottom: 5rem; */
}
.text5{
  font-size: 1.3rem;
  padding-bottom: 7rem;
}
.bc{
   margin-bottom: 5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.bc :nth-child(2){
  font-size: 4rem;
}
.item1{
  font-size: 3rem;
}
.container4{
  gap: 1rem;
}
.item3 input{
  padding: 1rem 4rem;
  border: none;
}
.item4 button{
    padding: 0.3rem 1.5rem;
    background-color: white;
    border: solid 1px;
}
.mc{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  
}
.container5{
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;

}
.container6{
  font-size: 1.5rem;
}

}
